<p>enseignant works!</p>
<div>test</div>
<div>
    <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Statut</th>
            <th>Minimum d'UC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Forestier</td>
            <td>Val</td>
            <td>A</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Kowalczuk</td>
            <td>Nico</td>
            <td>C</td>
            <td>2</td>
          </tr>
        </tbody>
    </table>
    </div>